*{
    font-family: 'gilroy';
    background-color: #121212;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #121212;
  }

  .navbar{
    width: 100%;
    background-color: #282828;
    color: white;
  }
  .navh3{
    background: none;
    font-size: 42px;
    margin: 10px;
  }

  .heading{
    display: flex;
    background: none;
  }

  .logo{
    flex: 1;
    background: none;
  }

  .ri-pinterest-fill{
    background: none;
    font-size: 45px;
    margin-left: 15px;
    align-items: center;
  }

  .links1{
    font-size: 30px;
    margin: 10px;
    background: none;
    text-decoration: dashed;
    color: white;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 12px;
    background-color: rgb(219, 29, 29);
    background: transparent;
    transition: all 0.2s ease-in-out;
  }

  .links1:hover{
    background-color: red;
    transform: scale(1.1);  
  }

  .links{
    display: flex;
    padding-right: 20px;
    gap: 30px;
    align-items: center;
    background: none;
  }

  .cardid{
    /* display: inline-block; */
    padding-top: 40px;
    text-align: center;
    color: #fff;
  }

  .cardid h1{
    margin-top: 18px;
  }

  .cardidtitle{
    font-size: 32px;
    margin-top: 15px;
    font-style: italic;
    opacity: 0.8;
  }

  .cardiddescription{
    font-size: 32px;
    margin-top: 15px;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 30px;
  }

  .cardid a{
    color: red;
    font-size:24px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  }

  .atag{
    margin-top: 45px;
  }